<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Magazine - Add</title>
</head>
<body>
  <h1>Magazine Edit</h1>
  <form action="/magazine/edit/<%= magazine.id %>" method="POST">
    <label for="title">Title: </label>
    <input type="text" name="title" value="<%= magazine.title %>">
    <br>
    <label for="totalPage">Total Page: </label>
    <input type="number" name="totalPage" value="<%= magazine.totalPage %>">
    <br>
    <label for="price">Price: </label>
    <input type="number" name="price" value="<%= magazine.price %>">
    <br>
    <label for="stock">Stock: </label>
    <input type="number" name="stock" value="<%= magazine.stock %>">
    <br>
    <label for="">Publisher: </label>
    <select name="PublisherId" id="">
      <% for(const publisher of publishers) { %>
        <option value="<%= publisher.id %>" <%= publisher.id === magazine.Publisher.id ? "selected" : "" %> ><%= publisher.nameOfPublisher %></option>
      <% } %>
    </select>
    <br>
    <button type="submit">Submit</button>
  </form>
  <a href="/logout">Logout</a>
</body>
</html>